/*svgfont---start*/
@font-face {
  font-family: "iconfont";
  src: url(..\fonts\iconfont.eot); /* IE9 */
  src: url(..\fonts\iconfont.eot?#iefix) format("eot"),url(..\fonts\iconfont.woff) format("woff"),url(..\fonts\iconfont.ttf) format("truetype"),url(..\fonts\iconfont.svg#iconfont) format("svg");
}
.text-icon {
  font-family: "iconfont" !important;
  font-size:16px;
  font-style:normal;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-E:\Resource\workspace\Vue\demo\src\assets\svg\window-restore-solid.svg:before { content: "\e001"; }
/*svgfont---end*/